{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/exams/dashboard.css' %}">
{% endblock style %}

{% block main %}
<div class="container">
    <h1>Dashboard</h1>
    <div class="row">
        <div class="col-4">
            <h3>Available Exams</h3>
            <div class="list-group w-auto">
                {% for subject in subjects %}
                <a href="{% url 'exam_subject_detail' subject_id=subject.id %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32"
                        class="rounded-circle flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="mb-0">{{ subject.title }}</h6>
                            <p class="mb-0 opacity-75">{{ subject.description }}</p>
                        </div>
                        <small class="opacity-50 text-nowrap">now</small>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-4">
            <h3>Pending Exams</h3>
            <div class="list-group w-auto">
                {% for subject in incomplete_subjects %}
                <a href="{% url 'exam_start_exam' subject_id=subject.id %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32"
                        class="rounded-circle flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="mb-0">{{ subject.title }}</h6>
                            <p class="mb-0 opacity-75">{{ subject.description }}</p>
                        </div>
                        <small class="opacity-50 text-nowrap">now</small>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-4">
            <h3>Completed Exams</h3>
            <div class="list-group w-auto">
                {% for subject in complete_subjects %}
                <a href="{% url 'exam_start_exam' subject_id=subject.id %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32"
                        class="rounded-circle flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="mb-0">{{ subject.title }}</h6>
                            <p class="mb-0 opacity-75">{{ subject.description }}</p>
                        </div>
                        <small class="opacity-50 text-nowrap">now</small>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- <div class="list-group">
        <div class="row">
            {% for subject in incomplete_subjects %}
            <div class="col-3 my-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ subject.title }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="{% url 'exam_subject_detail' subject_id=subject.id %}" class="card-link">View Exam</a>
                        <a href="{% url 'exam_start_exam' subject_id=subject.id %}">Start Exam</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="list-group">
        <div class="row">
            {% for subject in subjects %}
            <div class="col-3 my-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ subject.title }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="{% url 'exam_subject_detail' subject_id=subject.id %}" class="card-link">View Exam</a>
                        <a href="{% url 'exam_start_exam' subject_id=subject.id %}">Start Exam</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div> -->
</div>
{% endblock main %}

{% block script %}
{% endblock %}