{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1>Subject Detail</h1>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ subject.title }}</h5>
            <p class="card-text">{{ subject.description }}</p>
            <p>Total no questions - {{ question_count }}</p>
            <a href="{% url 'exam_start_exam' subject_id=subject.id %}" class="card-link">Start Exam</a>
        </div>
    </div>
</div>
{% endblock main %}