{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1>Subject Detail</h1>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="{% url 'exam_subject_questions' subject_id=subject.id %}" class="card-link">Start Exam</a>
        </div>
    </div>
</div>
{% endblock main %}