{% extends 'base.html' %}

{% block main %}
<div class="container mt-3">
    <h3>Score</h3>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ subject.title }}</h5>
            <p class="card-text">Score - {{ score }}</p>
            <p class="card-text">Total Score - {{ total_score }}</p>
            <a href="{% url 'exam_dashboard' %}" class="btn btn-primary">Back To Dashboard</a>
        </div>
    </div>

    <h3 class="mt-5">Report</h3>
    {% for response in responses %}
    <div class="my-3">
        <h4 class="my-3">Question - {{ response.question.order }}</h4>
        <h5 class="my-3">{{ response.question.question_text }}</h5>

        {% for option in response.question.question_options.all %}
        <div class="form-check my-3">
            <input class="form-check-input" type="checkbox" value="{{ option.id }}" {% if option.id == response.option.id %}checked{% endif %} required>
            <label class="form-check-label" for="exampleRadios">
                {{ option.option_text }}
                
                {% if option.id == response.option.id %}

                    {% if response.is_correct %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                    </svg>
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    {% endif %}

                {% endif %}
            </label>
        </div>
        {% endfor %}

    </div>
    {% endfor %}
</div>
{% endblock main %}